$height: 100vh;
$headerheight: 10vh;
$width: 100vw;

body{
  font-family: 'Roboto';
  margin:0px;
  overflow: hidden;
}

Header{
  position: fixed;
  top: 0;
  width: $width;
  height: $headerheight;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.page-body {
  text-align: center;
  width: $width;
  margin-top: $headerheight;
}

.container {
  width: $width;
  height: $height;
  overflow: scroll;
  position: relative;
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

.tile {
  width: $width;
  height: $height;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile:nth-child(1){
  height: $height - $headerheight;
  background: bisque;
}
.tile:nth-child(2) {
  background: beige;
}
.tile:nth-child(3) {
  flex-direction: column;
  background: bisque;
}
.tile:nth-child(4) {
  background: beige;
}