$height: 100vh;
$headerheight: 8vh;
$width: 100vw;
$pagebodyheight: $height - $headerheight;

body{
  font-family: 'Roboto';
  margin:0px;
  overflow: hidden;
}

Header{
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: $width;
  height: $headerheight;
  min-height: 53px;
  h1{
    margin: 0;
    font-size: 2em;
  }
}

.page-body {
  text-align: center;
  width: $width;
  margin-top: $headerheight;
  height: $pagebodyheight;
}

.sidenav{
  display: flex;
  position: fixed;
  height: $height;
  left: 0;
  align-items: center;
  padding-left: 50px;
  ul{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    li{
      position: relative;
      transform: scale(2);
      opacity: .5;
      color: white;
      z-index: 10;
    }

    li:hover, li:focus{
      opacity: 1;
      box-shadow: 0 5px 30px 0 rgba(137,113,241,.8);
    }
  }
}

.container {
  width: $width;
  height: $pagebodyheight;
  overflow: scroll;
  position: relative;
}

.y-proximity {
  scroll-snap-type: y proximity;
}

.tile {
  width: $width;
  height: 800px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile:nth-child(1){
  height: $pagebodyheight;
  background: bisque;
}
.tile:nth-child(2) {
  background: beige;
}
.tile:nth-child(3) {
  flex-direction: column;
  background: bisque;
}
.tile:nth-child(4) {
  background: beige;
}