$height: 100vh;
$headerheight: 8vh;
$width: 100vw;

body{
  font-family: 'Roboto';
  margin:0px;
  overflow: hidden;
}

Header{
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: $width;
  height: $headerheight;
  min-height: 53px;
  // background-color: #0E0A20;
  position: fixed;
  h1{
    margin: 0;
    font-size: 2em;
  }

  .headerbuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60%;
    width: 30%;
  }
  img{
    margin: 0px 15px;
  }
}

.page-body {
  text-align: center;
  width: $width;
  height: $height;
}

.sidenav {
  display: flex;
  position: fixed;
  height: $height;
  left: 0;
  align-items: center;
  padding-left: 50px;
  ul{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    li{
      position: relative;
      transform: scale(2);
      opacity: .5;
      color: white;
      z-index: 10;
    }
      li:hover, li:focus{
        opacity: 1;
        box-shadow: 0 5px 30px 0 rgba(137,113,241,.8);
      }
    }
}

.page-container {
  width: $width;
  height: $height;
  overflow: hidden scroll;
  position: relative;
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

.tile {
  width: $width;
  height: $height;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}
.tile:nth-child(3) {
  justify-content: unset;
  flex-direction: column;
}

.ProjectComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}
.project-container {
  width: 80%;
  height: 100%;
  overflow: scroll hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.project-container::-webkit-scrollbar-track{
  display: none;
}

.project-container::-webkit-scrollbar-track-piece{
  margin-top: 10px;
  background: white;
  display: block;
}

.x-mandatory {
  scroll-snap-type: x mandatory;
}

.projects-wrapper{
  display: flex;
  flex-direction: row;
}

.project {
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 10px 220px;
}
.project:nth-child(n) {
  background: white;
  box-shadow: 0px 0px 8px gainsboro;
  border-radius: 20px;
}
